        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        @font-face {
            font-family: "Gotham Medium";
            src: url(/fonts/Gotham\ Medium\ Regular.ttf);
          }
          @font-face {
            font-family: "Gotham Book Regular";
            src: url(/fonts/Gotham\ Book\ Regular.otf);
          }
          @font-face {
            font-family: "Gotham Medium Italic";
            src: url(/fonts/Gotham\ Medium\ Italic.ttf);
          }

          .GMI{
            font-family: "Gotham Medium Italic";
          }
          .GB {
            font-family: "Gotham Book Regular";
            /* color: #666666; */
          }

         .GM {
            font-family: "Gotham Medium";
        }
       

























        
        .main-header {
            background: url(http://18.217.165.212/angular-tbwb-img/header-background.png);
            background-repeat: no-repeat;
            width: 100%;
            background-size: cover;
            object-fit: cover;
            height: 133.09px;
        }
        .sky-background {
            background-image: url(../../img/sky-blue-background.jpg);
            background-repeat: no-repeat;
            /* background-position: center; */
            background-size: cover;
        }
         
        .mini-header {
            display: flex;
            justify-content: center;
            align-items: center;
        }
      
        .leftIcon>img,
        .rightIcon>img {
            height: 5.5rem;
        }
        
        .centerIcon>img {
            height: 5rem;
        }
        
        .navbar-nav {
            margin: 0px !important;
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
        
        .mini-header1 {
            background-image: linear-gradient(#83b6dc, #307ebe);
        }
        
        .nav-link {
            /* padding-right: 0 !important;
            padding-left: 0 !important;
            margin-right: 52px; */
            color: white !important;
        }
        
        .main-footer {
            background: url(http://18.217.165.212/angular-tbwb-img/header-background.png);
            background-repeat: no-repeat;
            width: 100%;
            background-size: cover;
            object-fit: cover;
            height: 110px;
        }
        
        .footer-div-left {
            text-align: center;
            border-right: 1px solid white;
            padding-bottom: 7px;
        }
        
        .footer-div-right {
            text-align: center;
            padding-bottom: 7px;
        }
        
        .footer-p {
            text-align: center;
            color: #fff;
            font-size: 12px;
            padding: 10px 10px 0px 10px;
        }
        
        .icons>a>Span {
            padding-right: 35px;
            text-align: center;
        }
        
        .icons>a>Span>img {
            width: 6% !important;
        }
        /* headings */
        .main-heading{
            color: #666666;
        }
        .subHeading{
            font-style: italic;
            font-weight: 600;
            font-size: 16px;
            color: #3c8cca;
            
           
        }
        .calender-div{
            color: #666666;
            font-size: 16px;
        }
        .bg-white{
            background-color: white;
            /* max-width: 1110px; */
        }

        /* .mainHeading
        {
            width: 40%!important;
            border: 2px solid black;
        } */

        /*headings end */
   /* SIDE BAR CSS */
   .search-button {
    border: 0;
    background: #3884c1;
    padding: 0px 9px 5px;
}
.blog-heading {
    color: #3884c1 !important;
    font-size: 18px;
    font-weight: 600;
}
.CV-Video-Link-Post{
    height: auto;
    border-bottom: 2px solid #dce4e7;
    padding-top: 6px;
}

.img_1{
     width: 25%;
}
.add-mt-15-CV-Video{
    font-size: 0.8rem;
    color: #666666 !important;
    font-weight: 600;
    
}
.date-text{
    font-size: 0.6rem;
    color: #666666 !important;
}
.border-1
{
border-bottom: 3px solid #dce4e7;
}
     /* SIDE BAR CSS END */


     @media (min-width:1100px){
         .mainHeading
         {
             width: 40%!important;
             
         }

         .mainImage
         {
             margin-top: -13%!important;
         }

         .mainImage-2
         {
             margin-top: -80px;
         }
     }


        /* Media Query for Ipad pro screen start*/
        
        @media (max-width:1100px) and (min-width:901px) {

          
            .mini-header {
                padding-top: 35px !important;
            }
            .navbar-toggler {
                position: absolute;
                top: -95px;
                left: 10px;
            }
            .navbar-light .navbar-toggler-icon {
                background-image: url('https://icon-library.net/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg');
                height: 40px;
                width: 40px;
            }
            .navbar-nav {
                padding-left: 30px;
                display: flex;
                align-items: center;
            }
            .navbar {
                padding: 0px !important;
                margin: 0px -19px;
            }
            .nav-link {
                padding-right: 0 !important;
                padding-left: 0 !important;
                margin-right: 30px;
                text-align: center;
                color: white !important;
            }
            .nav-link>img {
                margin-right: 30px;
            }
        }
        /* Media Query for Ipad pro screen start*/
        /* Media Query for  tablets and Ipad screen start*/
        
        @media (max-width:900px) and (min-width:700px) {
            .mini-header {
                padding-top: 35px !important;
            }
            .leftIcon>img,
            .rightIcon>img {
                height: 3.9rem;
            }
            .centerIcon>img {
                height: 3.3rem;
            }
            .navbar-toggler {
                position: absolute;
                top: -95px;
                left: 10px;
            }
            .navbar-light .navbar-toggler-icon {
                background-image: url('https://icon-library.net/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg');
                height: 40px;
                width: 40px;
            }
            .navbar {
                padding: 0px !important;
                margin: 0px -39px;
                background-image: none !important;
                background-color: #01244e !important;
            }
            .nav-link {
                padding-right: 0 !important;
                padding-left: 0 !important;
                margin-right: 0px;
                border-bottom: 1px solid white;
                text-align: center;
                color: white !important;
            }
            .main-footer {
                height: 120px;
            }
            .footer-div-left {
                text-align: center;
                padding-bottom: 7px;
            }
            .icons>a>Span {
                padding-right: 20px;
                text-align: center;
            }
            .icons>a>Span>img {
                width: 9% !important;
            }
        }
        /* Media Query for   tablets and Ipads screen start*/
        /* Media Query for  tablets  screen start*/
        
        @media (max-width:759px) and (min-width:580px) {
            .mini-header {
                padding-top: 35px !important;
            }
            .leftIcon>img,
            .rightIcon>img {
                height: 3.3rem;
            }
            .centerIcon>img {
                height: 3rem;
            }
            .navbar-toggler {
                position: absolute;
                top: -95px;
                left: 5px;
            }
            .navbar-light .navbar-toggler-icon {
                background-image: url('https://icon-library.net/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg');
                height: 40px;
                width: 40px;
            }
            .navbar {
                padding: 0px !important;
                margin: 0px -60px;
                background-image: none !important;
                background-color: #01244e !important;
            }
            .nav-link {
                padding-right: 0 !important;
                padding-left: 0 !important;
                margin-right: 0px;
                border-bottom: 1px solid white;
                text-align: center;
                color: white !important;
            }
            .main-footer {
                height: 280px !important;
            }
            .footer-div-left {
                text-align: center;
                padding-bottom: 7px;
                border-bottom: 1px solid white;
                border-right: none;
            }
            .icons>a>Span {
                padding-right: 20px;
                text-align: center;
            }
            .icons>a>Span>img {
                width: 9% !important;
            }
        }
        /* Media Query for tablets and laptops screen start*/
        /* Media Query for  mobile screen start*/
        
        @media (max-width:579px) and (min-width:300px) {
            .main-header {
                height: 70px;
            }
            .mini-header {
                padding-top: 20px !important;
            }
            .leftIcon>img,
            .rightIcon>img {
                height: 2.3rem;
            }
            .leftIcon>img {
                margin-right: 10px !important;
            }
            .centerIcon>img {
                height: 1.8rem;
                margin-right: 10px !important;
            }
            .navbar-toggler {
                position: absolute;
                top: -52px;
                left: 5px;
            }
            .navbar-light .navbar-toggler-icon {
                background-image: url('https://icon-library.net/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg');
                height: 20px;
                width: 20px;
            }
            .navbar {
                padding: 0px !important;
                margin: 0px -15px;
                background-image: none !important;
                background-color: #01244e !important;
            }
            .nav-link {
                padding-right: 0 !important;
                padding-left: 0 !important;
                margin-right: 0px;
                border-bottom: 1px solid white;
                text-align: center;
                color: white !important;
            }
            .main-footer {
                height: 235px;
            }
            .footer-div-left {
                text-align: center;
                border-bottom: 1px solid white !important;
                border-right: none !important;
                padding-bottom: 7px;
            }
            .icons>a>Span {
                padding-right: 10px;
                text-align: center;
            }
            .icons>a>Span>img {
                width: 9% !important;
            }
        }
        /* Media Query for mobile screen start*/
        /* Media Query for  mobile screen start*/
        
        @media (max-width:400px) and (min-width:300px) {
            .mini-header {
                padding-top: 18px !important;
                margin-left: 50px !important;
            }
            .leftIcon>img,
            .rightIcon>img {
                height: 2.3rem;
            }
            .leftIcon>img {
                margin-right: 10px !important;
            }
            .centerIcon>img {
                height: 1.8rem;
                margin-right: 10px !important;
            }
            .footer-div-left {
                border-right: none !important;
                border-bottom: 1px solid white !important;
            }
        }
        @media (max-width:567px) and (min-width:300px) {
            .Quem-Somos {
              font-size: 1.8rem !important;
              text-align: center;
              padding-top: 37px !important;
              
            }
            .subHeading1>h3{
                font-size: 1.4rem !important;
            }
            .CV-Video-Link-Post{
              
                padding-bottom: 4px;
            }
            .search-block{
                display: none;
            }
        }
        @media (max-width:1024px) {
                 .img_1 {
                     padding-top: 4px;
                 }
        }
        @media (max-width:540px) {
  
  
            .img_1{
                width: 15%;
           }
           .search-block{
               display: none;
           }
        }
        /* Media Query for mobile  screen start*/