* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sky-background {
    background-color: #acd7fa;
}

.zero-pading {
    padding: 0px !important;
}

.img-border {
    border: 7px solid white;
}

.border-1 {
    border: 1px solid #dce4e7;
}


/* header code start */

.main-header {
    background: url(http://18.217.165.212/angular-tbwb-img/header-background.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    height: 133.09px;
    overflow: hidden;
}

.mini-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftIcon>img,
.rightIcon>img {
    height: 5.5rem;
}

.centerIcon>img {
    height: 5rem;
}

.navbar-nav {
    margin: 0px !important;
    display: flex;
    justify-content: center;
}

.navbar {
    background-image: linear-gradient(#83b6dc, #307ebe);
}

.nav-link {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 52px;
    color: white !important;
}


/* header code end*/


/* Middle Content code start */

.video-border {
    border: 5px solid white;
    border-top: none;
}

.main-bannar {
    background-image: url('img/BANNER_253_320px_EUROPA.jpg');
    background-size: cover;
    background-position: bottom;
    height: 27.4rem;
}

.img-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.queTodas {
    font-weight: 400;
    max-width: 28vw;
    margin: auto;
    font-size: 1.5rem;
}

.europa {
    position: absolute;
    bottom: -12px;
    left: 12rem;
    font-weight: 700;
    font-size: 1.6rem;
}

.img-button {
    color: #fff;
    background-color: #3a89c5;
    display: inline-block;
    padding: 7px 25px;
    position: absolute;
    bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 700;
}

#carousel-div {
    display: none;
}


/* Middle Content code end*/


/* footer code start */

.main-footer {
    background: url(http://18.217.165.212/angular-tbwb-img/header-background.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    height: 110px;
}

.footer-div-left {
    text-align: center;
    border-right: 1px solid white;
    padding-bottom: 7px;
}

.footer-div-right {
    text-align: center;
    padding-bottom: 7px;
}

.footer-p {
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 10px 10px 0px 10px;
}

.icons>a>Span {
    padding-right: 35px;
    text-align: center;
}

.icons>a>Span>img {
    width: 6% !important;
}

.pedido-caption {
    margin: auto;
    position: absolute;
    top: 35px;
    font-weight: bolder;
    color: black;
    background-color: rgb(245, 179, 78);
    text-align: center;
    width: 55%;
    height: 35px;
    border-radius: 10px;
    font-size: 20px;
    left: 65px;
}


/* footer code end */


/* Media Query for Ipad pro screen start*/

@media (max-width:1100px) and (min-width:901px) {
    .mini-header {
        padding-top: 35px !important;
    }
    .navbar-toggler {
        position: absolute;
        top: -95px;
        left: 10px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url('https://icon-library.net/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg');
        height: 40px;
        width: 40px;
    }
    .navbar-nav {
        padding-left: 30px;
        display: flex;
        align-items: center;
    }
    .navbar {
        padding: 0px !important;
        margin: 0px -19px;
    }
    .nav-link {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: 30px;
        text-align: center;
        color: white !important;
    }
    .nav-link>img {
        margin-right: 30px;
    }
    .main-bannar {
        height: 22.95rem;
    }
    .img-content>div>.h2 {
        font-size: 1.5rem !important;
    }
    .img-content>div>.h4 {
        font-size: 1.2rem !important;
    }
    .queTodas {
        font-weight: 300;
        max-width: 28vw;
        margin: auto;
        font-size: 1.2rem;
    }
    .europa {
        left: 9.5rem;
    }
    .img-button {
        padding: 6px 15px;
        font-size: 0.7rem;
    }
    #carousel-div {
        display: none;
    }
}


/* Media Query for Ipad pro screen start*/


/* Media Query for  tablets and Ipad screen start*/

@media (max-width:900px) and (min-width:700px) {
    .mini-header {
        padding-top: 35px !important;
    }
    .leftIcon>img,
    .rightIcon>img {
        height: 3.9rem;
    }
    .centerIcon>img {
        height: 3.3rem;
    }
    .navbar-toggler {
        position: absolute;
        top: -95px;
        left: 10px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url('https://icon-library.net/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg');
        height: 40px;
        width: 40px;
    }
    .navbar {
        padding: 0px !important;
        margin: 0px -39px;
        background-image: none !important;
        background-color: #01244e !important;
    }
    .nav-link {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: 0px;
        border-bottom: 1px solid white;
        text-align: center;
        color: white !important;
    }
    .main-footer {
        height: 120px;
    }
    .footer-div-left {
        text-align: center;
        padding-bottom: 7px;
    }
    .icons>a>Span {
        padding-right: 20px;
        text-align: center;
    }
    .icons>a>Span>img {
        width: 9% !important;
    }
    .main-bannar {
        height: 16.9rem;
    }
    .img-content>div>.h2 {
        font-size: 1.5rem !important;
    }
    .img-content>div>.h4 {
        font-size: 1.2rem !important;
    }
    .queTodas {
        max-width: 32vw;
        margin: auto;
        font-size: 1rem;
    }
    .europa {
        bottom: -17px;
        left: 7rem;
        font-size: 1.2rem;
    }
    .img-border {
        border: 3px solid white;
    }
    .img-button {
        padding: 4px 8px;
        font-size: 0.6rem;
        bottom: 10px;
    }
    .pedido-caption {
        top: 16px;
        font-weight: bold;
        color: black;
        background-color: #f5b34e;
        width: 45%;
        height: 25px;
        font-size: 15px;
        left: 55px;
    }
    #carousel-div {
        display: none;
    }
}


/* Media Query for   tablets and Ipads screen start*/


/* Media Query for  tablets  screen start*/

@media (max-width:759px) and (min-width:580px) {
    .mini-header {
        padding-top: 35px !important;
    }
    .leftIcon>img,
    .rightIcon>img {
        height: 3.3rem;
    }
    .centerIcon>img {
        height: 3rem;
    }
    .navbar-toggler {
        position: absolute;
        top: -95px;
        left: 5px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url('https://icon-library.net/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg');
        height: 40px;
        width: 40px;
    }
    .navbar {
        padding: 0px !important;
        margin: 0px -60px;
        background-image: none !important;
        background-color: #01244e !important;
    }
    .nav-link {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: 0px;
        border-bottom: 1px solid white;
        text-align: center;
        color: white !important;
    }
    .main-footer {
        height: 280px !important;
    }
    .footer-div-left {
        text-align: center;
        padding-bottom: 7px;
        border-bottom: 1px solid white;
        border-right: none;
    }
    .icons>a>Span {
        padding-right: 20px;
        text-align: center;
    }
    .icons>a>Span>img {
        width: 9% !important;
    }
    #carousel-div {
        display: none;
    }
}


/* Media Query for tablets and laptops screen start*/


/* Media Query for  mobile screen start*/

@media (max-width:579px) and (min-width:400px) {
    .main-header {
        height: 70px;
    }
    .mini-header {
        padding-top: 20px !important;
    }
    .leftIcon>img,
    .rightIcon>img {
        height: 2.3rem;
    }
    .leftIcon>img {
        margin-right: 10px !important;
    }
    .centerIcon>img {
        height: 1.8rem;
        margin-right: 10px !important;
    }
    .navbar-toggler {
        position: absolute;
        top: -52px;
        left: 5px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url('https://icon-library.net/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg');
        height: 20px;
        width: 20px;
    }
    .navbar {
        padding: 0px !important;
        margin: 0px -30px;
        background-image: none !important;
        background-color: #01244e !important;
    }
    .nav-link {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: 0px;
        border-bottom: 1px solid white;
        text-align: center;
        color: white !important;
    }
    .zero-pading {
        padding: 0px !important;
        margin-top: 10px !important;
    }
    .main-footer {
        height: 235px;
    }
    .footer-div-left {
        text-align: center;
        border-bottom: 1px solid white !important;
        border-right: none !important;
        padding-bottom: 7px;
    }
    .icons>a>Span {
        padding-right: 10px;
        text-align: center;
    }
    .icons>a>Span>img {
        width: 9% !important;
    }
    .main-bannar {
        height: 26rem;
    }
    .img-content>div>.h2 {
        font-size: 2rem !important;
    }
    .img-content>div>.h4 {
        font-size: 1.4rem !important;
    }
    .queTodas {
        max-width: 80vw;
        font-size: 1.3rem;
    }
    .europa {
        bottom: -12px;
        left: 12rem;
        font-size: 1.5rem;
    }
    .img-border {
        border: 5px solid white;
    }
    .img-border>img {
        width: auto;
    }
    .img-button {
        padding: 7px 40px;
        bottom: 210px !important;
        font-size: 1.2rem;
    }
    .button-responsive1 {
        bottom: 50px !important;
    }
    #img4 {
        width: 100%;
    }
    #hide-imgs {
        display: none;
    }
    #carousel-div {
        display: block;
    }
    /* carousel css start */
    /* Hide the images by default */
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
        cursor: pointer;
    }
    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 65%;
        width: 55px;
        height: 55px;
        padding: 6px;
        margin-top: -50px;
        text-align: center;
        color: white;
        font-weight: bolder;
        font-size: 25px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
        background-color: grey;
        opacity: 0.7;
        border-radius: 100px;
    }
    .prev {
        left: 0px;
    }
    .next {
        right: 0px;
    }
    /* Position the "next button" to the right */
    .next {
        border-radius: 100px;
        width: 55px;
        height: 55px;
        background-color: grey;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    /* Container for image text */
    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }
    .pedido-caption {
        margin: auto;
        position: absolute;
        top: 46px;
        font-weight: bolder;
        color: black;
        background-color: #f5b34e;
        text-align: center;
        width: 70%;
        height: 35px;
        border-radius: 10px;
        font-size: 20px;
        /* opacity: 0.9; */
        left: 77px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Six columns side by side */
    .column {
        float: left;
        width: 16.66%;
    }
    /* Add a transparency effect for thumnbail images */
    .demo {
        opacity: 0.6;
    }
    .active,
    .demo:hover {
        opacity: 1;
    }
    .carousel-container {
        margin-top: 20px;
    }
    .carousel-slide-img {
        /* border: 1px solid green; */
        width: 100%;
    }
    .content-label {
        background-color: #3a89c5;
        color: white !important;
        text-align: center;
    }
    /* carousel css end */
}


/* Media Query for mobile screen start*/


/* Media Query for  mobile screen start*/

@media (max-width:420px) and (min-width:300px) {
    .main-header {
        height: 70px;
    }
    .mini-header {
        padding-top: 18px !important;
        margin-left: 50px !important;
    }
    .leftIcon>img,
    .rightIcon>img {
        height: 2.3rem;
    }
    .leftIcon>img {
        margin-right: 10px !important;
    }
    .centerIcon>img {
        height: 1.8rem;
        margin-right: 10px !important;
    }
    .navbar-toggler {
        position: absolute;
        top: -52px;
        left: 5px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url('https://icon-library.net/images/hamburger-menu-icon-png-white/hamburger-menu-icon-png-white-10.jpg');
        height: 20px;
        width: 20px;
    }
    .navbar {
        padding: 0px !important;
        margin: 0px -30px;
        background-image: none !important;
        background-color: #01244e !important;
    }
    .nav-link {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: 0px;
        border-bottom: 1px solid white;
        text-align: center;
        color: white !important;
    }
    .zero-pading {
        padding: 0px !important;
        margin-top: 0px !important;
    }
    .main-footer {
        height: 235px;
    }
    .footer-div-left {
        border-right: none !important;
        border-bottom: 1px solid white !important;
    }
    .icons>a>Span {
        padding-right: 10px;
        text-align: center;
    }
    .main-bannar {
        height: 25rem;
    }
    .img-content>div>.h2 {
        font-size: 1.9rem !important;
        margin-top: 1rem!important;
    }
    .img-content>div>.h4 {
        font-size: 1.4rem !important;
    }
    .queTodas {
        max-width: 80vw;
        font-size: 1.3rem;
    }
    .europa {
        bottom: -16px;
        left: 8.3rem;
        font-size: 1.6rem;
    }
    .img-border {
        border: 5px solid white;
    }
    #hide-imgs {
        display: none;
    }
    #carousel-div {
        display: block;
    }
    /* carousel css start */
    /* Hide the images by default */
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
        cursor: pointer;
    }
    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 65%;
        width: 55px;
        height: 55px;
        padding: 6px;
        margin-top: -50px;
        text-align: center;
        color: white;
        font-weight: bolder;
        font-size: 25px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
        background-color: grey;
        opacity: 0.7;
        border-radius: 100px;
    }
    .prev {
        left: 0px;
    }
    .next {
        right: 0px;
    }
    /* Position the "next button" to the right */
    .next {
        border-radius: 100px;
        width: 55px;
        height: 55px;
        background-color: grey;
    }
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }
    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    /* Container for image text */
    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }
    .pedido-caption {
        margin: auto;
        position: absolute;
        top: 46px;
        font-weight: bolder;
        color: black;
        background-color: #f5b34e;
        text-align: center;
        width: 60%;
        height: 35px;
        border-radius: 10px;
        font-size: 20px;
        /* opacity: 0.9; */
        left: 77px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Six columns side by side */
    .column {
        float: left;
        width: 16.66%;
    }
    /* Add a transparency effect for thumnbail images */
    .demo {
        opacity: 0.6;
    }
    .active,
    .demo:hover {
        opacity: 1;
    }
    .carousel-container {
        margin-top: 20px;
    }
    .carousel-slide-img {
        /* border: 1px solid green; */
        width: 100%;
    }
    .content-label {
        background-color: #3a89c5;
        color: white !important;
        text-align: center;
    }
    /* carousel css end */
}


/* Media Query for mobile  screen start*/